@import 'tailwindcss';

@layer theme {
  :root {
    --font-altivo: altivo, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-altivo);
  height: 100vh;
  overflow-y: hidden;
  overscroll-behavior: none;
}
